.frame {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    /*justify-content: space-between;*/

    text-align: left;
}

.vertical-separator {
    border-left: 20px solid #000000;
}